:root{
  --background-color: #FFEDDB;
  --second-color: #EDCDBB;
  --third-color: #E3B7A0;
  --fourth-color: #BF9270;
  --fifth-color: #65451F;

  }

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
}

.title {
  font-size: 28px;
  color: var(--fourth-color);
  font-weight: 600;
  letter-spacing: -1px;
 
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color:var(--fifth-color);
}

.signin a:hover {
  text-decoration: underline var(--fifth-color);
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.submit {
  border: none;
  outline: none;
  background-color: var(--fourth-color);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: var(--fifth-color);
  cursor: pointer;
}
